<div
  class="relative"
  data-controller="dropdown"
  data-dropdown-direction-value="<%= direction %>"
  data-action="keydown.esc@window->dropdown#close click@window->dropdown#closeOnOutside focusin@window->dropdown#closeOnFocusOutside"
>
  <div data-action="click->dropdown#toggle">
    <%= trigger %>
  </div>

  <div
    class="<%= [
      'pointer-events-none absolute z-30 min-w-56 w-max max-w-none opacity-0 transition duration-150 ease-out',
      menu_position_classes
    ].join(' ') %>"
    data-dropdown-target="menu"
  >
    <div class="rounded-2xl border border-black/10 bg-white p-1 shadow-[0_18px_48px_rgba(15,23,42,0.14)] ring-0.5 ring-black/5">
      <% items.each do |item| %>
        <% if item[:disabled] %>
          <button
            type="button"
            class="<%= item_classes(item) %>"
            disabled
          >
            <% if item[:icon].present? %>
              <%= helpers.lucide_icon(item[:icon], class: 'h-4 w-4 shrink-0', "aria-hidden": true) %>
            <% end %>
            <span><%= item[:label] %></span>
          </button>
        <% elsif item[:method].present? && item[:confirm_label].present? %>
          <%= form_with url: item[:href], method: item[:method], class: 'w-full', data: item_form_data(item), html: item_form_options(item) do %>
            <button
              type="button"
              class="<%= item_classes(item) %>"
              data-action="click->dropdown#confirmAction"
              data-confirm-label="<%= item[:confirm_label] %>"
              data-default-label="<%= item[:label] %>"
            >
              <% if item[:icon].present? %>
                <span class="flex h-4 w-4 shrink-0 items-center justify-center" data-dropdown-confirm-icon>
                  <span class="transition-all duration-200 ease-out" data-dropdown-icon-default>
                    <%= helpers.lucide_icon(item[:icon], class: 'h-4 w-4 shrink-0', "aria-hidden": true) %>
                  </span>
                  <span class="hidden transition-all duration-200 ease-out" data-dropdown-icon-confirm>
                    <%= helpers.lucide_icon(item[:confirm_icon], class: 'h-4 w-4 shrink-0', "aria-hidden": true) %>
                  </span>
                </span>
              <% end %>
              <span class="transition-all duration-200 ease-out" data-dropdown-confirm-text><%= item[:label] %></span>
            </button>
          <% end %>
        <% elsif item[:method].present? %>
          <%= form_with url: item[:href], method: item[:method], class: 'w-full', data: item_form_data(item), html: item_form_options(item) do %>
            <button
              type="submit"
              class="<%= item_classes(item) %>"
              <% if item[:data][:action].present? %>
                data-action="<%= item[:data][:action] %>"
              <% end %>
            >
              <% if item[:icon].present? %>
                <%= helpers.lucide_icon(item[:icon], class: 'h-4 w-4 shrink-0', "aria-hidden": true) %>
              <% end %>
              <span><%= item[:label] %></span>
            </button>
          <% end %>
        <% elsif item[:button] %>
          <button
            type="button"
            class="<%= item_classes(item) %>"
            data-action="<%= item[:data][:action] %>"
          >
            <% if item[:icon].present? %>
              <%= helpers.lucide_icon(item[:icon], class: 'h-4 w-4 shrink-0', "aria-hidden": true) %>
            <% end %>
            <span><%= item[:label] %></span>
          </button>
        <% else %>
          <%= link_to item[:href], class: item_classes(item), data: item_data(item) do %>
            <% if item[:icon].present? %>
              <%= helpers.lucide_icon(item[:icon], class: 'h-4 w-4 shrink-0', "aria-hidden": true) %>
            <% end %>
            <span><%= item[:label] %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
